<nav class="sidebar bg-dark">
  <div class="sidebar-header text-white px-3 py-3">
    <h5>Insurance Claims</h5>
  </div>

  <ul class="nav flex-column px-2">

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/dashboard']">
        Dashboard
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" *ngIf="roleName === 'POLICYHOLDER'" [routerLink]="['/create-claim']">
        Create Claim
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" *ngIf="roleName === 'ADJUSTER'" [routerLink]="['/assign-claim']">
        Assign Claim
      </a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" *ngIf="roleName === 'ADJUSTER'" [routerLink]="['/update-claim']">
        Get & Update Claims
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" *ngIf="roleName === 'INVESTIGATOR'" [routerLink]="['/create-investigator']">
        Investigator
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" *ngIf="roleName === 'UNDERWRITER'" [routerLink]="['/update-claim-investigator']">
        Update Claim
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" *ngIf="roleName === 'POLICYHOLDER'" [routerLink]="['/view-claim-status']">
        View Claim Status
      </a>
    </li>

    <hr class="text-secondary">

    <li class="nav-item" *ngIf="!IsLoggin">
      <a class="nav-link" [routerLink]="['/login']">Login</a>
    </li>

    <li class="nav-item" *ngIf="IsLoggin">
      <a class="nav-link" (click)="logout()" [routerLink]="['/login']">
        Logout
      </a>
    </li>

  </ul>
</nav>