<div class="auth-wrapper">
  <div class="auth-card fadeUp">

    <h2>Create Account</h2>

    <form [formGroup]="itemForm" (ngSubmit)="onRegister()">
      <div class="input-group">
        <input type="text" required placeholder=" " formControlName="username" />
        <label>Username</label>
      </div>

      <div class="input-group">
        <input type="email" required placeholder=" " formControlName="email" />
        <label>Email</label>
      </div>

      <div class="input-group">
        <input type="password" required placeholder=" " formControlName="password" />
        <label>Password</label>
      </div>

      <div class=" input-group">
        <select required formControlName="role">
          <option value="" disabled selected></option>
          <option value="POLICYHOLDER">Policyholder</option>
          <option value="ADJUSTER">Adjuster</option>
          <option value="UNDERWRITER">Underwriter</option>
          <option value="INVESTIGATOR">Investigator</option>
        </select>
        <label class="select-label">Role</label>
      </div>

      <button type="submit" [disabled]="itemForm.invalid">Create Account</button>
    </form>

    <p class="switch">
      Already have an account?
      <a routerLink="/login">Login →</a>
    </p>

  </div>
</div>