<div class="bg-animation"></div>

<div class="auth-wrapper">
  <div class="auth-card fade-in">

    <h3>Welcome Back</h3>

    <form [formGroup]="itemForm" (ngSubmit)="onLogin()">

      <!-- USERNAME -->
      <div class="input-group">
        <input
          type="text"
          formControlName="username"
          required
        />
        <label>Username</label>

        <small class="error"
          *ngIf="
            itemForm.get('username')?.invalid &&
            (itemForm.get('username')?.touched || itemForm.get('username')?.dirty)
          ">
          Username is required
        </small>
      </div>

      <!-- PASSWORD -->
      <div class="input-group">
        <input
          type="password"
          formControlName="password"
          required
        />
        <label>Password</label>

        <small class="error"
          *ngIf="
            itemForm.get('password')?.invalid &&
            (itemForm.get('password')?.touched || itemForm.get('password')?.dirty)
          ">
          Password is required
        </small>
      </div>

      <button type="submit" [disabled]="itemForm.invalid">
        Sign In
      </button>
    </form>

    <p class="error center" *ngIf="showError">
      {{ errorMessage }}
    </p>

    <p class="switch">
      Don’t have an account?
      <a routerLink="/registration">Register →</a>
    </p>

  </div>
</div>